<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h1><%= titulo %></h1>
          <a href="/crud/nuevo" class="btn btn-primary">Nuevo asistente</a>
          <table class="table table-stripped table-bordered">
            <thead>
              <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Ocupacion</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% asistentes.forEach(asistente => { %>
                <tr class="fila">
                  <td><%= asistente.id %></td>
                  <td><%= asistente.nombre %></td>
                  <td><%= asistente.apellido %></td>
                  <td><%= asistente.ocupacion %></td>
                  <td class="text-center">
                    <button class="btn btn-link js-eliminar" data-id="<%= asistente.id %>">Eliminar</button>
                    <a href="/crud/editar/<%= asistente.id %>">Editar</a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script>
      $(function() {
        $('.js-eliminar').on('click', function() {
          var id = $(this).data('id');
          var $row = $(this);
          $.ajax({
            url: '/crud/eliminar/' + id,
            type: 'DELETE',
            dataType: 'JSON',
            success: function(data) {
              if (data.deleted) {
                $row.parents('.fila').remove();
              } else {
                alert('No se pudo eliminar');
              }
            },
            error:function() {
              alert('No se pudo eliminar');
            }
          })
        })
      });
    </script>
  </body>
</html>
